*{
    margin: 0;
    padding: 0;
}

.main{
    width: 100%;
    background:  url(1.png);
    background-position: center;
    background-size: cover;
    height: 1000px;
}

.navbar{
    width: 1200px;
    height: 75px;
    margin: auto;
}

.icon{
    width: 200px;
    float: left;
    height: 70px;
}

.logo{
    width: 140px;
    height: 140px;
    padding-left: 20px;
    float: left;
    padding-top: 10px;
    margin-top: 5px
}

.menu{
	padding-top: 30px;
    width: 400px;
    float: left;
    height: 70px;
}

.content{
    width: 1200px;
    height: auto;
    margin: auto;
    color: black;
    position: relative;
}

.content .par{
    padding-left: 20px;
    padding-bottom: 25px;
    font-family: Arial;
    letter-spacing: 1.2px;
    line-height: 30px;
}

.content h1{
    font-family: 'Times New Roman';
    font-size: 60px;
    color: darkslategray;
    padding-left: 20px;
    margin-top: 9%;
    letter-spacing: 2px;
}

.content .cn a{
    text-decoration: none;
    color: #000;
    transition: .3s ease;
}

.cn:hover{
    background-color: #fff;
}


.content span{
    color: #DB9E2F;
    font-size: 65px
}

.content .slider{
    margin-top: 10px;
    margin-left: 15px;
}

.slider{
    width: 560px;
    height: 320px;
    animation: slide 20s infinite;
    background-position: center;
    background-size: cover;

}

@keyframes slide{
    10%{
    background: url(arrozcaldo.jpg);
    }
    20%{
    background: url(friedrice.jpg);
    }
    30%{
    background: url(masalachickenontoast.jpg);
    }
    40%{
    background: url(grilledsquid.jpg);
    }
    50%{
    background: url(grilledliempo.jpg);
    }
    60%{
    background: url(shrimp.jpg);
    }
    70%{
    background: url(laing.jpg);
    }
    80%{
    background: url(mangograham.jpg);
    }
    90%{
    background: url(coffeejelly.jpg);
    }
    100%{
    background: url(velocitycocktail.jpg);
    }


}

.form{
    width: 280px;
    height: 490px;
    background: darkslategray;
    position: absolute;
    top: 90px;
    left: 870px;
    transform: translate(0%,-5%);
    border-radius: 10px;
    padding: 25px;
}

.form h2{
    width: 220px;
    font-family: sans-serif;
    text-align: center;
    color: darkslategray;
    font-size: 32px;
    background-color: #fff;
    border-radius: 10px;
    margin: 2px;
    padding: 8px;
}

.form input{
    width: 240px;
    height: 35px;
    background: transparent;
    border-bottom: 1px solid #ff7200;
    border-top: none;
    border-right: none;
    border-left: none;
    color: #fff;
    font-size: 20px;
    letter-spacing: 1px;
    margin-top: 30px;
    font-family: sans-serif;
}

.form input:focus{
    outline: none;
}

::placeholder{
    color: #fff;
    font-family: Arial;
}

.btnn{
    width: 240px;
    height: 40px;
    background: #DB9E2F;
    border: none;
    margin-top: 30px;
    font-size: 28px;
    border-radius: 10px;
    cursor: pointer;
    color: #fff;
    transition: 0.4s ease;
}
.btnn:hover{
    background: #fff;
    color: #ff7200;
}
.btnn a{
    text-decoration: none;
    color: #000;
    font-weight: bold;
}
.form .link{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    padding-top: 20px;
    text-align: center;
}
.form .link a{
    text-decoration: none;
    color: #DB9E2F;
}
.liw{
    padding-top: 15px;
    padding-bottom: 10px;
    text-align: center;
}
.icons{
    padding-right: 40px;
}
.icons a{
    text-decoration: none;
    color: #fff;
}
.icons ion-icon{
    color: #fff;
    font-size: 40px;
    padding-left: 40px;
    padding-top: 5px;
    transition: 0.3s ease;
}
.icons ion-icon:hover{
    color: #ff7200;
}

footer{
    background: darkslategray;
    height: auto;
    width: 100%;
    font-family: "sans-serif";
    padding-top: 30px;
    color: #fff;
}

.footer-content{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    padding-bottom: 20px;
}

.footer-content h3{
    font-size: 24px;
    font-weight: 400;
    line-height: 3px;
}

.footer-content p{
    font-size: 24px;
    max-width: 500px;
    margin: 10px auto;
    line-height: 28px;
}

.footer-bottom{
    background: #111;
    width: 100%;
    padding: 10px 0;
    text-align: center;
}

.footer-bottom p{
    font-size: 24px;
    word-spacing: 2px;
    text-transform: capitalize;
}

.footer-bottom span{
    opacity: .4;
    font-weight: 200;
}